/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

html, body {
    overflow-x: hidden;
}




:root{

}

html{
    
}

body{
    display: flex;
    justify-content: center;
}

main{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}


.imgBox{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0; 
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    background: linear-gradient(rgb(112, 112, 235),rgb(138, 138, 197),rgb(160, 160, 233),pink,rgb(210, 110, 126));
    color: white;
    position: relative;
}

.container h1{
    text-align: center;
}

[src*=linked]:first-of-type{
    width: 75px;
    height: 50px;
    rotate: 310deg;
    position: absolute;
    top: 0;
    left: 0;
}

.leftBox{    
    width: 10%;
    heigth: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


